html {
  font-size: 14px;

}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(128, 128, 128, 0.3);
}
.createForm{
    display:flex;
    width:100%;
    justify-content:space-between
}
.form{
    width:70%;
}
.preview{
    width:20%;
    height:15rem;
    overflow:hidden;
}
.preview img{
    height:15rem;
    width:100%;
}
.details{
    width:50%;
    border:1px solid red;
    height:fit-content;
    
}
.details .content{
    width:10rem;
}

.details img {
    width: 30rem;
    height:30rem;
}
    .details .writeUp {
        width: 60%;
        text-align: justify;
    }
.postComment{
    width:100%;
    height:120vh;
    display:flex;
    position:relative;

}
.postComment .details {
    width: 50%;
    text-align: justify;
    height:10rem;
}
.postComment .smallContents {
    width:100%;
    display:flex;
    justify-content:space-between;
    font-size:.8rem;
    color: blue;
    font-family: "Merriweather Sans";
}
.commentSide{
    width:50%;
}
.noComment {
    position: absolute;
    top: 30%;
    right: 10%;
}