@using BlogSite.Models.ViewModel.Comment;

@model CreateCommentVM
<br /><br /><br /><br />
<div class="container">
    <form asp-action="Create" method="post">
        <input asp-for="BlogPostId" type="hidden"/>
        <div class="form-group">
            <label asp-for="CommenterEmail"></label>
            <input asp-for="CommenterEmail" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Comment"></label>
            <textarea asp-for="Comment" style="resize:none;" rows="10" class="form-control"></textarea>
        </div>
        <button type="submit" id="submitPostBtn" class="btn btn-success">Add Comment</button>
    </form>
</div>